.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.fade-enter-forward{
  opacity: 0;
  transform: translateX(10%);
}

.fade-enter-back{
  opacity: 0;
  transform: translateX(-10%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 200ms ease;
}

.fade-exit-back {
  opacity: 0;
  transform: translateX(-10%);
  transition: 200ms ease;
}

.fade-exit-forward {
  opacity: 0;
  transform: translateX(10%);
  transition: 200ms ease;
}
